/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	color: #7b7b7b;
	font-weight: 400;
	line-height: 1.6;
	font-family: "Montserrat", sans-serif;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "FuturaBT-Book";
	src: url("../fonts/FuturaBT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-Book.woff") format("woff"), url("../fonts/FuturaBT-Book.ttf") format("truetype"), url("../fonts/FuturaBT-Book.svg#FuturaBT-Book") format("svg");
	font-weight: normal;
	font-style: normal;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title h2 {
	color: #1e1e1e;
	font-size: 60px;
	font-weight: 700;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding: 16px 40px;
	border: 2px solid #fff;
	border-radius: 50px;
	text-transform: uppercase;
}

.site-btn {
	color: #1e1e1e;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding: 16px 40px;
	border: 2px solid #1e1e1e;
	border-radius: 50px;
	cursor: pointer;
	text-transform: uppercase;
}

/*---------------------
  Header
-----------------------*/

.header-section {
	height: 104px;
	padding-top: 38px;
	padding-bottom: 24px;
	padding-left: 45px;
	padding-right: 45px;
}

.inner-header .logo {
	float: left;
}

.inner-header .header-right {
	float: right;
	line-height: 30px;
}

.inner-header .header-right img {
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}

.inner-header .header-right a {
	display: inline-block;
	position: relative;
}

.inner-header .header-right a img {
	margin-right: 0;
	margin-left: 4px;
}

.inner-header .header-right a span {
	font-size: 11px;
	color: #1e1e1e;
	width: 18px;
	height: 18px;
	border: 2px solid #D0D7DB;
	background: #fff;
	display: inline-block;
	line-height: 15px;
	text-align: center;
	border-radius: 50%;
	font-weight: 600;
	position: absolute;
	left: -9px;
	top: 14px;
}

.inner-header .user-access {
	float: right;
	margin-right: 100px;
}

.inner-header .user-access a {
	color: #1e1e1e;
	font-size: 16px;
	display: inline-block;
	font-weight: 500;
	position: relative;
	line-height: 42px;
}

.inner-header .user-access a.in {
	color: #838383;
	margin-left: 15px;
	position: relative;
}

.inner-header .user-access a.in::before {
	position: absolute;
	left: -13px;
	top: 1px;
	color: #1e1e1e;
	content: "/";
}

.inner-header .main-menu {
	float: right;
	margin-right: 150px;
}

.inner-header .main-menu ul li {
	display: inline-block;
	margin-left: 60px;
	position: relative;
}

.inner-header .main-menu ul li a {
	color: #1e1e1e;
	font-size: 16px;
	display: inline-block;
	font-weight: 500;
	position: relative;
	line-height: 42px;
}

.inner-header .main-menu ul li a.active:after {
	opacity: 1;
}

.inner-header .main-menu ul li a:hover:after {
	opacity: 1;
}

.inner-header .main-menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 7px;
	width: 100%;
	height: 2px;
	background: #1e1e1e;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.inner-header .main-menu ul li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.inner-header .main-menu ul li .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 0;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.2);
}

.inner-header .main-menu ul li .sub-menu li {
	display: block;
	margin: 0;
}

.inner-header .main-menu ul li .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 0px 20px;
	font-size: 14px;
	line-height: 2.3;
}

.inner-header .main-menu ul li .sub-menu li a:after {
	display: none;
}

.slicknav_menu {
	display: none;
}
/*---------------------
  Features Section
-----------------------*/

.features-section {
	padding-bottom: 0;
}

.features-ads {
	padding-bottom: 67px;
}

.features-ads .single-features-ads {
	text-align: center;
	margin-bottom: 30px;
}

.features-ads .single-features-ads.first {
	margin-top: 39px;
}

.features-ads .single-features-ads.second {
	margin-top: 8px;
}

.features-ads .single-features-ads img {
	margin-bottom: 15px;
}

.features-ads .single-features-ads h4 {
	color: #1e1e1e;
	font-size: 22px;
	font-weight: 700;
	line-height: 50px;
}

.features-ads .single-features-ads p {
	color: #727272;
	font-size: 14px;
	line-height: 27px;
	font-weight: 500;
}

.features-box .single-box-item {
	position: relative;
}

.features-box .single-box-item.first-box {
	margin-bottom: 35px;
}

.features-box .single-box-item.first-box .box-text {
	position: absolute;
	right: 60px;
	top: 106px;
}

.features-box .single-box-item.first-box .box-text .trend-alert {
	color: #1e1e1e;
	display: block;
	font-size: 22px;
	font-family: "FuturaBT-Book";
	letter-spacing: 2px;
	line-height: 45px;
	text-transform: uppercase;
	margin-bottom: 38px;
}

.features-box .single-box-item.first-box .box-text .primary-btn {
	border-color: #D0D7DB;
	color: #1e1e1e;
}

.features-box .single-box-item.second-box {
	margin-bottom: 35px;
}

.features-box .single-box-item.second-box .box-text {
	position: absolute;
	left: 56px;
	top: 150px;
}

.features-box .single-box-item.second-box .box-text .trend-year {
	color: #fff;
	opacity: 1;
}

.features-box .single-box-item.second-box .box-text .trend-alert {
	color: #5b5b5b;
	display: inline-block;
	font-size: 16px;
	font-family: "FuturaBT-Book";
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 45px;
}

.features-box .single-box-item.large-box .box-text {
	position: absolute;
	left: 125px;
	top: 60px;
}

.features-box .single-box-item.large-box .box-text .trend-year {
	color: #838383;
	opacity: 1;
}

.features-box .single-box-item.large-box .box-text h2 {
	font-size: 60px;
	font-weight: 700;
	line-height: 56px;
}

.features-box .single-box-item.large-box .box-text .trend-alert {
	color: #5b5b5b;
	display: inline-block;
	font-size: 22px;
	font-family: "FuturaBT-Book";
	letter-spacing: 2px;
	line-height: 36px;
	text-transform: uppercase;
}

.features-box .single-box-item img {
	min-width: 100%;
}

.features-box .single-box-item .box-text .trend-year {
	color: #1e1e1e;
	font-size: 22px;
	font-weight: 700;
	opacity: 0.32;
	display: inline-block;
}

.features-box .single-box-item .box-text h2 {
	color: #1e1e1e;
	font-size: 48px;
	font-weight: 600;
	line-height: 38px;
}

/*---------------------
  products 
-----------------------*/
.pro{background-color: rgb(247, 234, 234);}
.pro ul{padding-top: 40px; padding-bottom: 40px;}
.pro .tab-content{padding-bottom: 50px;}
/*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #262626;
	padding-bottom: 0;
}

.newslatter-form {
	margin-bottom: 90px;
}

.newslatter-form form {
	position: relative;
}

.newslatter-form form input {
	width: 100%;
	border: 2px solid #454747;
	border-radius: 50px;
	height: 53px;
	background: transparent;
	color: #535353;
	font-size: 14px;
	font-style: italic;
	font-weight: 600;
	padding-left: 30px;
	position: relative;
}

.newslatter-form form button {
	width: 310px;
	height: 53px;
	background: #B0BCC2;
	border: 2px solid #B0BCC2;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	border-radius: 50px;
}

.footer-widget {
	margin-bottom: 40px;
}

.footer-widget .single-footer-widget {
	margin-bottom: 30px;
}

.footer-widget .single-footer-widget h4 {
	color: #fff;
	font-size: 26px;
	margin-bottom: 44px;
}

.footer-widget .single-footer-widget ul li {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	list-style: none;
	line-height: 36px;
	opacity: 0.5;
}

.social-links-warp {
	background: #222121;
	padding: 46px 0;
}

.social-links a {
	margin-right: 88px;
	display: inline-block;
}

.social-links a:last-child {
	margin-right: 0;
}

.social-links a i {
	font-size: 30px;
	color: #d7d7d7;
	float: left;
	margin-right: 19px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a span {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #9f9fa0;
	padding-top: 10px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a.instagram:hover i {
	color: #2F5D84;
}

.social-links a.google-plus:hover i {
	color: #E04B37;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.pinterest:hover i {
	color: #CD212D;
}

.social-links a.facebook:hover i {
	color: #39599F;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.youtube:hover i {
	color: #D12227;
}

.social-links a.tumblr:hover i {
	color: #37475E;
}

.social-links a:hover span {
	color: #fff;
}

.product-page
{
	background-color: rgb(247, 234, 234);
	padding-top: 50px;
}

.product-page img {border-radius: 20px;}
.product-page .row .product-content h2{margin-bottom: 20px;}
.product-page .row .product-content .pc-meta h5{margin-bottom: 20px;}
.product-page .row .product-content .rating {margin-bottom: 20px; color: #FFD200;}
.product-page .row .product-content p{margin-bottom: 20px;}
.product-page .row .product-content .tags
{
	margin-bottom: 20px;
	list-style: none;
}

.specific
{
	background-color: rgb(247, 234, 234);
	padding-top: 50px;
	padding-bottom: 50px;
}
.specific h3{margin-bottom: 30px;}
.more {display: none;}
.see
{
    cursor: pointer;
    margin-top: 25px;
}
/*---------------------
  Related Products
-----------------------*/

.related-product {
	padding-top: 50px;
	padding-bottom: 50px;
}

.related-product .section-title {
	margin-bottom: 60px;
}

/* ---------------------------------- Responsive Media Styles ---------------------------------*/

@media only screen and (min-width: 1500px) and (max-width: 1920px) {
	.inner-header .user-access {
		float: right;
		margin-right: 200px;
	}
	.inner-header .main-menu {
		float: right;
		margin-right: 238px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1340px) {
	.inner-header .user-access {
		margin-right: 60px;
	}
	.inner-header .main-menu {
		margin-right: 55px;
	}
}

/* Medium Device : 1280px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.inner-header .main-menu {
		margin-right: 70px;
	}
	.inner-header .main-menu ul li {
		margin-left: 45px;
	}
	.inner-header .user-access {
		display: none;
	}
	.header-info .shipping-chrg {
		margin-right: 10px;
	}
	.lookbok-left {
		padding-top: 0px;
	}
	.lookbok-pic .pic-text {
		font-size: 95px;
		line-height: 68px;
	}
	.social-links a {
		margin-right: 50px;
	}
}

/* Tablet Device : 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section {
		padding-left: 0;
		padding-right: 0;
	}
	.inner-header .main-menu {
		margin-right: 50px;
	}
	.inner-header .main-menu ul li {
		margin-left: 30px;
	}
	.social-links a {
		margin-right: 15px;
	}
	.social-links a i {
		margin-right: 10px;
	}
}

/* Large Mobile : 480px */

@media only screen and (max-width: 767px) {
	.header-section {
		height: auto;
		padding-bottom: 0;
	}
	.inner-header {
		overflow: hidden;
	}
	.inner-header .user-access {
		margin-right: 10px;
	}
	.slicknav_menu {
		display: block;
		margin-top: 10px;
	}
	.inner-header .header-right {
		margin-right: 20px;
		margin-top: 4px;
	}
	.slicknav_nav ul {
		margin: 0 0 0 0;
	}
	.main-menu {
		display: none;
	}
	.header-section {
		overflow: hidden;
	}
	.social-links {
		text-align: center;
	}
	.social-links a {
		margin-right: 20px;
	}
	.social-links a i {
		margin-right: 0;
	}
	.social-links a span {
		display: none;
	}
}

/* Small : 320px */

@media only screen and (max-width: 479px) {
	.header-section {
		padding-left: 0;
		padding-right: 0;
	}
	.inner-header .header-right {
		margin-right: 0;
	}
	.features-box .single-box-item.first-box .box-text {
		right: 9px;
		top: 7px;
	}
	.features-box .single-box-item .box-text h2 {
		font-size: 40px;
	}
	.features-box .single-box-item.first-box .box-text .trend-alert {
		margin-bottom: 7px;
	}
	.features-box .single-box-item.second-box .box-text {
		left: 20px;
		top: 56px;
	}
	.features-box .single-box-item.large-box .box-text {
		left: 20px;
		top: 28px;
	}
	.features-box .single-box-item.large-box .box-text h2 {
		font-size: 40px;
	}
	.social-links a {
		margin-right: 10px;
	}
}

@media (max-width: 410px) {
	.specific li{font-size: 10px;}
	.specific h5{font-size: 12px;}
	.related-product .section-title h2{font-size: 18px;}
}