/*---------------------
  products 
-----------------------*/
.pro{background-color: rgb(247, 234, 234);}
.pro ul{padding-top: 40px; padding-bottom: 40px;}
.pro .tab-content{padding-bottom: 50px;}


.product-page
{
	background-color: rgb(247, 234, 234);
	padding-top: 50px;
}

.product-page img {border-radius: 20px;}
.product-page .row .product-content h2{margin-bottom: 20px;}
.product-page .row .product-content .pc-meta h5{margin-bottom: 20px;}
.product-page .row .product-content .rating {margin-bottom: 20px;}
.product-page .row .product-content p{margin-bottom: 20px;}
.product-page .row .product-content .tags
{
	margin-bottom: 20px;
	list-style: none;
}

.specific
{
	background-color: rgb(247, 234, 234);
	padding-top: 50px;
	padding-bottom: 50px;
}
.specific h3{margin-bottom: 30px;}
.more {display: none;}
.see
{
    cursor: pointer;
    margin-top: 25px;
}
/*---------------------
  Related Products
-----------------------*/

.related-product {
	padding-top: 50px;
	padding-bottom: 50px;
}

.related-product .section-title {
	margin-bottom: 60px;
}

/* Small : 320px */

@media only screen and (max-width: 479px) {
	.features-box .single-box-item.first-box .box-text {
		right: 9px;
		top: 7px;
	}
	.features-box .single-box-item .box-text h2 {
		font-size: 40px;
	}
	.features-box .single-box-item.first-box .box-text .trend-alert {
		margin-bottom: 7px;
	}
	.features-box .single-box-item.second-box .box-text {
		left: 20px;
		top: 56px;
	}
	.features-box .single-box-item.large-box .box-text {
		left: 20px;
		top: 28px;
	}
	.features-box .single-box-item.large-box .box-text h2 {
		font-size: 40px;
	}
}

@media (max-width: 410px) {
	.specific li{font-size: 10px;}
	.specific h5{font-size: 12px;}
	.related-product .section-title h2{font-size: 18px;}
}